<div>
    <div class="alert alert-success" *ngIf="success">
        <strong>Success!</strong> Produit ajouté avec succès
    </div>
</div>
<h3>
  Ajout d'un produit
</h3>

<div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-search" ></span>
    <input type="text" class="form-control" placeholder="Rechercher" [(ngModel)]="search" (ngModelChange)="onSearch()">
</div>
<ul class="list-group">
    <li class="list-group-item" *ngIf="search && search.length >0 && !isNewProduit" (click)="newProduit()">
        Créer produit : {{ search }}
    </li>
    <li class="list-group-item" *ngFor="#produit of produits" (click)="selectProduit(produit)">
        {{ produit.libelle }} - {{ produit.categorie.libelle }}
    </li>
</ul>
<div *ngIf="produitSelect.produit && isNewProduit">
    <h3>Categorie :</h3>
    <div class="form-group">
        <select class="form-control" #cat [(ngModel)]="produitSelect.produit.categorie" (change)="onCategorieSelected(cat.value)">
            <option *ngFor="#categorie of categories" [value]="categorie.id">{{categorie.libelle}}</option>
        </select>
    </div>
</div>
<div *ngIf="produitSelect.produit">
    <h3>Produit sélectionné :</h3>
    <p> {{produitSelect.produit.libelle}} - {{produitSelect.produit.categorie.libelle}}</p>
</div>
<div *ngIf="produitSelect.produit">
    <h3>Quantité :</h3>
    <div class="input-group spinner">
        <input type="text" class="form-control" [(ngModel)]="produitSelect.quantite">
        <div class="input-group-btn-vertical">
            <button class="btn btn-default" type="button" (click)="produitSelect.quantite = produitSelect.quantite+1"><i class="fa fa-caret-up"></i></button>
            <button class="btn btn-default" type="button" (click)="produitSelect.quantite = produitSelect.quantite-1"><i class="fa fa-caret-down"></i></button>
        </div>
    </div>
</div>
<br>
<div>
    <button *ngIf="produitSelect.produit" type="button" class="btn btn-primary" (click)="ajouter()">Ajouter</button>
</div>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>